entrypoint = "index.js"
modules = ["nodejs-21"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["gh", "zip"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

